*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(284deg, #272d5b, #545a84);
  color: #fff;
  margin-bottom: 1rem;
}

div {
  box-sizing: border-box;
}

header .logo {
  text-align: left;
}

header .logo span {
  display: block;
  font-size: 14px;
}

.tobNav {
  display: block;
  margin-bottom: 15px;
}

.tobNav::after {
  content: '';
  display: table;
  clear: both;
}

.tabs {
  display: block;
  width: 100%;
}

.tabs .tab {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 15px;
  cursor: pointer;
}

.tabs .tab.active {
  background-color: #272d5b;
  color: #fff;
  border: 1px solid #272d5b;
}

.tabs .tab:last-child {
  margin-right: 15px;
}

.container {
  display: block;
  width: 100%;
  margin: 0px auto;
  max-width: 1300px;
}

.main-aside {
  display: block;
  width: 300px;
  float: left;
}

.main-content {
  display: block;
  width: calc(100% - 300px);
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}

.tab-content {
  display: block;
}

.tab-content::after {
  content: '';
  display: table;
  clear: both;
}

.tab-content .main-aside {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.tab-content .main-aside h4 {
  text-align: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 16px;
}

.main-aside label {
  font-size: 11px;
  margin-bottom: 3px;
}

.ais-MenuSelect {
  display: block;
  width: 100%;
  margin-bottom: 12px;

}

.ais-MenuSelect select {
  height: 32px;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}

.ais-ClearRefinements {
  padding-top: 20px;
  width: 100%;
}

.ais-ClearRefinements button {
  width: 100%;
  text-align: center;
  height: 32px;
}

.listView {
  display: block;
  padding: 0px;
  list-style-type: none;
}

ul.listView>li:first-child {}

.listView .tableView {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.listView .tableView .listCol {
  flex: 1;
  padding: 5px;
}

.searchResults .ais-Hits-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.searchResults .ais-Hits-list li {
  display: flex;
  padding: 0px;
  margin: 0px 0px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fbfbfb;
}

.tableView {
  display: flex;
  width: 100%;
}

.tableView-top {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #ece9e9;
  border-radius: 4px;

}

.tableView-top>div {
  font-size: 13px;
  font-weight: 600;
}

.tableView>div {
  padding: 6px 8px;
  margin: 0px;
  font-size: 11px;
  flex: 1;
  border-right: 2px solid #fff;
}

.tableView>div:last-child {
  border: 0px;
}

.tableView>div.listCol-1 {
  max-width: 50px;
  text-align: center;
}

.tableView>div.listCol-2 {
  max-width: 120px;
}

.search-box .ais-SearchBox-form {
  display: flex;
  margin-bottom: 15px;
}

.search-box .ais-SearchBox-form input {
  flex: 1;
  height: 42px;
  padding: 6px 12px;
}

.search-box .ais-SearchBox-form button {
  width: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.search-box .ais-SearchBox-form button svg {
  width: 18px !important;
  height: 18px !important;
}

.listView {
  display: block;
  padding: 0px;
  margin: 0px auto;
  width: 100%;
  list-style-type: none;
  text-align: left;
}

.listView .viewBox {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(253, 253, 253, 0.7);
}

.listView .viewBox h3 {
  margin-top: 0px;
  margin-bottom: 6px;
  font-size: 16px;
}

.listView .viewBox p {
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 0px;
}

.listView .viewBox p:last-child {
  margin-bottom: 0px;
}

.listView .sub {
  display: block;
  padding: 0px 0px 0px 75px;
  margin: 0px auto;
  width: 100%;
  max-width: 800px;
  list-style-type: none;
  position: relative;
}

.sub li {
  position: relative;
  text-align: left;
}

.sub li .viewBox {
  position: relative;
}

.sub li .viewBox h2 {
  margin-top: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.listView>li>.sub>li::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 100%;
  width: 50px;
  left: -49px;
  border-left: 1px solid #ccc;
}

.listView>li>.sub>li:last-child::before {
  display: none;
}

.listView>li>.sub>li>.viewBox::before {
  content: "";
  position: absolute;
  top: -11px;
  height: calc(50%);
  width: 50px;
  left: -50px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.listView>li>.sub>li>.viewBox::after {
  content: "";
  position: absolute;
  top: 0px;
  height: calc(50%);
  width: 50px;
  left: -50px;
  border-left: 1px solid #ccc;
}

.listView>li>.sub>li:last-child>.viewBox::after {
  display: none;
}

.listView>li>.sub>li>.sub>li>.viewBox::before {
  content: "";
  position: absolute;
  top: -12px;
  height: calc(50%);
  width: 50px;
  left: -50px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.listView>li>.sub>li>.sub>li>.viewBox::after {
  content: "";
  position: absolute;
  top: 0px;
  height: calc(100% - 0px);
  width: 50px;
  left: -50px;
  border-left: 1px solid #ccc;
}

.listView>li>.sub>li>.sub>li:last-child>.viewBox::after {
  display: none;
}

.viewBoxRow {
  display: flex;
}

.viewBoxRow .viewBoxCol {
  flex: 1;
  padding-left: 6px;
  padding-right: 6px;
}

.viewBoxRow .viewBoxCol table {
  font-size: 11px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table>tbody+tbody {
  border-top: 2px solid #ddd;
}

.table .table {
  background-color: #fff;
}

.table tr td.center,
.table tr th.center {
  text-align: center;
}

.table tr td.right,
.table tr th.right {
  text-align: right;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
  padding: 4px 6px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border: 1px solid #ddd;
  padding: 4px 6px;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
  border-bottom-width: 2px;
  padding: 4px 6px;
}



.table th {
  background-color: #f3f3f3;
}

.officerInfo {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: block;
}

.officerInfo li {
  padding: 4px 8px;
  margin: 0px;
  display: block;
  font-size: 11px;
  background-color: #f3f3f3;
}

.ais-RangeInput-form {
  display: flex;
  align-items: center;
  gap: 5px;
}


.ais-RangeInput-form input,
.ais-RangeInput-form button,
.ais-RangeInput-form span {
  flex: 1;
  width: 100%;
}

.ais-RangeInput-form span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ais-RangeInput-form input {
  height: 32px;
  padding: 6px 0px 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;

}

.ais-RangeInput-form span {
  max-width: 15px;
  height: 32px;
  text-align: center;
}

.ais-RangeInput-form button {
  max-width: 32px;
  height: 32px;
  text-align: center;
}

.input-range__label--max,
.input-range__label--value,
.input-range__label--min {
  display: none;
}

.main-header .container {
  display: flex;
}

.main-header .container>div {
  flex: 1;
}

.main-header .container>div.nav {
  display: flex;
  justify-content: end;
}

.main-header .container>div.nav button {
  margin: auto 0;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.loading {
  display: flex;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.loading .center {
  flex: 1;
  display: block;
  width: 100%;
  margin: auto;
  max-width: 600px;
  text-align: center;
  background-image: linear-gradient(284deg, #272d5b, #545a84);
  padding: 35px 20px;
}

.loading .center span {
  display: block;
  margin-bottom: 15px;
}

.loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 4px 16px;
  margin-top: 24px;
  min-height: 52px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  color: #002060;
  border: 0;
  border-radius: 3px;
  transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
  background-color: #fff;
}

.custom-refinement-list ul {
  list-style-type: disc;
}